[submodule "sample_logs"]
	path = sample_logs
	url = https://github.com/evildarkarchon/crash-logs.git
[submodule "Code_to_Port"]
	path = Code_to_Port
	url = https://github.com/evildarkarchon/ClASSIC-Fallout4.git
